<h3>Create Test Setting</h3>

<%= form_for([@test_task,@test_setting], :url => test_task_test_setting_path) do |f| %>

    <%= render :partial => 'test_setting',
               :locals => {:f => f} %>

    <div>
      <%= button_to "Create", :action => "create"%>
    </div>

<% end %>