
                                    <!--TODO:form name refactor-->
<%= form.fields_for :link_test do |links_form| %>

    <div>
      <%= links_form.label :urls,"Links" %><br />
      <%= links_form.text_area :urls %>
    </div>

<% end %>