<h3>Edit Test Setting</h3>

<%= form_for([@task,@setting],:url => task_setting_path,:method => "put") do |f| %>

    <%= render :partial => 'setting',
               :locals => {:f => f} %>

    <div>
      <%= button_to "Update", :action => "update" %>
    </div>

<% end %>