<!DOCTYPE html>
<html>
<head>
  <title>LinkQuality</title>
  <%= stylesheet_link_tag    "application"  %>
  <%= javascript_include_tag "application"  %>
  <%= csrf_meta_tags %>
</head>
<body>
<h2>This is MaGonglei's Test Website: LinkQuality Tool.</h2>

###############################################################

<%= yield %>

</body>
</html>
